{% extends 'base.html' %}

{% block content %}
  <h2>Reservas</h2>
  <a href="{% url 'reserva_create' %}" class="btn btn-primary mb-3">Nueva Reserva</a>

  <ul class="list-group">
    {% for r in object_list %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ r.servicio.nombre }} reservado por {{ r.cliente.nombre }} para {{ r.fecha_servicio }}
        <a href="{% url 'reserva_edit' r.pk %}" class="btn btn-sm btn-outline-secondary">Editar</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
