{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Coordinadores</h2>
    <a href="{% url 'coordinador_create' %}" class="btn btn-success mb-3" style="background-color:#f4b324; color:#1c191a">Agregar coordinador</a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for coordinador in coordinadores %}
            <tr>
                <td>{{ coordinador.nombre }}</td>
                <td>{{ coordinador.apellido }}</td>
                <td>{{ coordinador.numero_documento }}</td>
                <td>
                    <a href="{% url 'coordinador_edit' coordinador.pk %}" class="btn btn-sm btn-primary" style="background-color:#f4b324; color:#1c191a">Editar</a>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="2">No hay coordinadores.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
