<h1>Lista de clientes</h1>
<ul>
    {% for cliente in object_list %}
        <li>
            {{ cliente.nombre }}
            {{ cliente.activo }}
            <a href="http://127.0.0.1:8000/clientes/update/{{ cliente.id }}">Editar</a>
            {% if cliente.activo %}
                <a href="http://127.0.0.1:8000/clientes/activo/{{ cliente.id }}">eliminar</a>
            {% else %}
                <a href="http://127.0.0.1:8000/clientes/activo/{{ cliente.id }}">activar</a>
            {% endif %}
            
        </li>
    {% endfor %}
</ul>