{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            {% if form.instance.pk %}
            <h3>Editar Empleado</h3>
            {% else %}
            <h3>Crear Empleado</h3>
            {% endif %}
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary" style="background-color:#f4b324; color:#1c191a">Guardar</button>
                <a href="{% url 'empleado_list' %}" class="btn btn-secondary" >Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
